@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';

/* ============== notifications ============== */
.notifications{
    padding: $section-space 0px;
    .title{
        background-color: $sconedColor;
        padding: 10px 20px;
        font-family: $headlinesFonts;
    }
    .total-price{
        font-family: $headlinesFonts;        
    }
}