<section>
  <div class="container pl-0 pr-0">
    <div class="headline text-center">
      <h2>التعليقات</h2>
      <hr>
    </div>
    <!-- users comments -->
    <div class="row mb-2" *ngFor="let obj of comments | paginate: { itemsPerPage: items, currentPage: p }">
      <div class="col-sm-8 p-0">
        <div class="media  mt-3 p-0">
          <img class=" p-4 mt-1 " src="../assets/images/meal-comment/{{obj.image}}" alt="Generic placeholder image">
          <div class="media-body pt-4 pb-4 pr-0 pl-4 ">
            <h5 class="mt-0 font-weight-bold">{{obj.username}}</h5>

            <p [ngClass]="{'hide':editMood==true}">{{obj.comment}}</p>
            <!-- if user click edit icon  -->
            <textarea *ngIf="obj.userId==6" [ngClass]="{'hide':editMood==false}" name="comment" id="comment" cols="70" rows="2" [(ngModel)]="obj.userComment"></textarea>
            <button *ngIf="obj.userId==6" class="small-btn " [ngClass]="{'hide':editMood==false}" (click)="saveComment()">حفظ</button>



            <p class="card-text">
              <small>التاريخ:
                <span class="date">{{obj.date}}</span> &nbsp; الوقت:
                <span class="time">{{obj.time}}
                  <span class="date"> </span>
                </span>
              </small>
              &nbsp;&nbsp;
              <span class="text-left" *ngIf="obj.userId==6">
                <i class="icon-trash-empty" (click)="deleteComment()"></i>
                <i class="icon-pencil" (click)="editComment()"></i>
              </span>
            </p>

          </div>
          <!--Start meal rating  -->
          <ngb-rating [(rate)]="obj.rate" max=5 [readonly]="true">
            <ng-template let-fill="fill">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <!--end meal rating -->
        </div>
      </div>

    </div>
    <div class="row  ">
      <div class="col-sm-8">
        <div class="row justify-content-end">
          <button class="btn big-btn mt-4 ml-3" (click)="update()">المزيد</button>
        </div>
      </div>
    </div>


    <!-- empty comment -->
    <div class="empty-comment">
    <div class="headline text-center mt-5">
      <h2>أضف تعليق</h2>
      <hr>
    </div>
    <div class="row mb-4">
      <div class="col-sm-8 p-0 ">
        <div class="media  mt-3 p-0">
          <img class=" p-4 mt-1 " src="" alt="Generic placeholder image">
          <div class="media-body pt-4 pb-4 pr-1 pl-4 ">
            <h5 class="mt-0 font-weight-bold">سارة احمد</h5>
            <textarea name="comment" id="comment" cols="70" rows="2" placeholder="أضف تعليق" [(ngModel)]="userComment"></textarea>
            <p class="card-text">


            </p>
            <!--Start meal rating  -->
            <ngb-rating [(rate)]="userRate" max=5>
              <ng-template let-fill="fill">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <!--end meal rating -->
          </div>

        </div>
      </div>
    </div>
    <!-- comment button -->
    <div class="row  ">
      <div class="col-sm-8">
        <div class="row justify-content-end">
          <button class="btn big-btn mt-2 ml-3" (click)="addNewComment()" [disabled]=commented>تعليق</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>