@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
section{

  div.media{   
          box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25); 
          textarea {
                  resize: none;
                  border: none;
                  border-bottom: 1px solid $textColor;
                  width: 100%;
                  box-sizing: border-box;
              }
              textarea:focus {
                outline: none;

               
              }     
              small{
                @include font-size(12px)
              }
              rating{
                transform: rotate(-90deg);
                position: absolute;
                top: 40%;
                left: -2.5%;
            }
            
            i.star-icon{
            font-size: 1.5em;
            }
          
          
  }
  ngb-rating
  {
    left: -2.5%;
    top: 38%;
  }
  .hide{
    display: none;
  }
}
