<footer>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">

      <div class="col-sm-4 text-center ">
        <img src="../../assets/images/footer/Vector Smart Object copy.png" class="img-fluid" alt="logo image">
        <div class="row justify-content-center ">
          <div class=" col-sm-10">
            <a href="#">
              <i class="icon-facebook"></i>
            </a>
            <a href="#">
              <i class="icon-twitter"></i>
            </a>
            <a href="#">
              <i class="icon-linkedin"></i>
            </a>
          </div>
        </div>
        <p>جميع الحقوق محفوظة لموقع ويكا © 2018 </p>
      </div>
    </div>
  </div>
</footer>