@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';

#home-guest
{
    margin-bottom: -330px;
}
#how-we-work
{
    padding: 300px 0 100px 0;    
    h3
    {
        font-size: 20px;
        font-family: $headlinesFonts;
    }
}


#fold
{
    @include backgroundImg('/assets/images/home-page/hero-img.png');
    height:850px;
    position: relative;
    h1
    {
        font-size: 35px;
        font-family: $headlinesFonts;
    }
    nav
    {
        margin-top: 10px 
    }
    a
    {
        @include font-size(18px);
    }
    a.border
    {
        margin-left: 10px
    }
    #fold-data
    {
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        h1
        {
            padding-bottom: 25px;
            @include font-size(40px);
        }
    }
}
// .cut {
//     position: absolute;
//     z-index: 1;
//     bottom: -188px;
//     left: 0;
//     width: 0;
//     height: 0;
//     border-top: 254px solid transparent;
//     border-right: 130px solid #ffffff;
// }
#cards 
{
    top:60%;
    position: absolute;
    left: 0;
    right: 0;
    // margin-bottom: 100px;
    height: 600px;
}