@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';


#how-we-work
{
    h3
    {
        font-size: 20px;
        font-family: $headlinesFonts;
    }
}


#fold
{
    @include backgroundImg('/assets/images/home-page/hero-img.png');
    height:850px;
    nav
    {
        margin-top: 10px 
    }
    a
    {
        @include font-size(18px);
    }
    a.border
    {
        margin-left: 10px
    }
}
.cut {
    position: absolute;
    z-index: 1;
    bottom: -188px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 254px solid transparent;
    border-right: 130px solid #ffffff;
}
#cards 
{
    top:-330px;
}
