<section id="fold">
  <div class="nav pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-7">
      <img src="../assets/images/logo.png" alt="">
    </div>
    <div class="col-md-3">
      <a href="#" class="border p-2">تسجيل الدخول</a>
      <a routerLink="becomeacooker">اصبح طباخ</a>
    </div>
  </div>
</div> 
  </div>
</section>
<div class="container">
<app-meal-card>
</app-meal-card>
</div>
<section id="how-we-work" class="text-center">
  <div class="headline">
    <h3>كيف نعمل  ؟ </h3>
    <hr>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-md-3" *ngFor="let data of workData">
        <img src="{{data.icon}}" alt="">
        <h3>{{data.titel}}</h3>
        <p>{{data.data}}</p>
      </div>
    </div>
  </div>
 </section>
