@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
@import '../../scss/forms';

section{
    padding: $section-space 0;
    input,textarea{
        border: 0;
        border-bottom: 1px solid $textColor;
        border-radius: 0;
        margin-bottom: 5px;
          &:focus{
              box-shadow: none;
              border-color: $sconedColor;
          }
      }
}