<section class="data">
  <div class="container">

    <div class="profile-data">
      <img class="profile-img m-0" src="../../assets/images/edit-cooker/chef_pp.jpg" alt="">

      <!-- ================= show view ================== -->
      <div class="profile-info" *ngIf="!editFlag">
        <div class="text-left">
          <button type="button" class="bg-transparent p-0">
            <i class="icon-pencil" (click)="editInfo()"></i>
          </button>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-5">
            <h4 class="mb-3">{{chefData.fname}} {{chefData.lname}}</h4>
            <h5 class="mb-3">{{chefData.gender}}</h5>
            <p class="mb-3 pl-2"> {{chefData.description}}</p>
          </div>
          <div class="col-md-3 textFont">
          </div>
        </div>
      </div>

      <!-- =============== edit view ======================= -->
      <div class="profile-editInfo" *ngIf="editFlag">
        <form name="editForm" #editForm="ngForm" (ngSubmit)="editFunc(editForm)">
          <div class="text-left">
            <button type="submit" class="bg-transparent p-0">
              <i class="icon-ok"></i>
            </button>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-4">
              <!-- ============= first name ================== -->
              <div class="form-group">
                <input type="text" class="form-control" value="{{cookerData.fName}}" placeholder="الأسم الأول" #fName="ngModel" name="fName"
                  [(ngModel)]="cookerData.fName" required>
                <!-- validation  message -->
                <div *ngIf="fName.invalid && (fName.dirty || fName.touched || editForm.submitted)">
                  <div *ngIf="fName.errors.required" class="error-msg">
                    الحقل مطلوب
                  </div>
                </div>
                <!-- =============== last name ==================== -->
                <input type="text" class="form-control" value="{{cookerData.lName}}" placeholder="الأسم الأخير" #lName="ngModel" name="lName"
                  [(ngModel)]="cookerData.lName">
              </div>
              <div *ngIf="lName.invalid && (lName.dirty || lName.touched || editForm.submitted)">
                <div *ngIf="lName.errors.required" class="error-msg">
                  الحقل مطلوب
                </div>
              </div>

              <!-- ===================== bio ==================== -->
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="نبذة عنك.." name="bio" [(ngModel)]="cookerData.bio">{{cookerData.bio}}</textarea>
              </div>
            </div>

            <div class="col-md-4">
              <!-- ============ email ================= -->
              <!-- <div class="form-group">
                <input type="email" class="form-control mail" value="{{cookerData.email}}" placeholder="البريد الألكتروني" name="email" [(ngModel)]="cookerData.email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" required>
              </div> -->
              <!-- validation Email message -->
              <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="error-msg" *ngIf="email.errors.required">
                  * هذا الحقل مطلوب
                </div>
              </div>
              <div class="error-msg" *ngIf="email.errors && editForm.submitted">
                * البريد الالكترونى غير صحيح
              </div> -->
              <!-- ============ phone ================= -->
              <!-- <div class="form-group">
                <input type="text" class="form-control" value="{{cookerData.phone}}" placeholder="رقم التليفون" pattern="[0-9]{8}" name="phone"
                  #phone="ngModel" [(ngModel)]="cookerData.phone">
                <!-- validation  message -->
              <!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched || register.submitted)">
                  <div *ngIf="phone.errors.required" class="text-danger">
                    * هذا الحقل مطلوب
                  </div>
                </div>
                <div class="text-danger" *ngIf="phone.errors && register.submitted">
                  * رقم التليفون غير صحيح
                </div>

                <select class="form-control phone" name="phonePrefix" [(ngModel)]="cookerData.phonePrefix">
                  <option [selected]="cookerData.phonePrefix == '012'">012</option>

                  <option [selected]="cookerData.phonePrefix == '010'">010</option>

                  <option [selected]="cookerData.phonePrefix == '011'">011</option>

                  <option [selected]="cookerData.phonePrefix == '015'">015</option>

                  <option [selected]="cookerData.phonePrefix == '03'">03</option>

                </select>
              </div> -->
              <!-- ============== gender ==================== -->
              <div class="form-group">
                <span class="pl-2">النوع</span>
                <div class="radio d-inline-block">
                  <input id="radio-1" name="gender" value="male" type="radio" [(ngModel)]="cookerData.gender">
                  <label for="radio-1" class="radio-label">ذكر</label>
                </div>

                <div class="radio d-inline-block">
                  <input id="radio-2" name="gender" value="female" type="radio" [(ngModel)]="cookerData.gender">
                  <label for="radio-2" class="radio-label ml-3">أنثى</label>
                </div>
              </div>

              <a class="text-dark changePass font-weight-bold" (click)="open(content)">تغيير كلمة السر</a>
            </div>
          </div>
        </form>
        <!-- ==================== popup change password ======================= -->
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">تغيير كلمة السر</h4>
            <button type="button" class="close ml-0" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form name="changepass" #changepass="ngForm" (ngSubmit)="saveChanges(changepass)">
              <!-- password -->
              <div class="form-group">
                <input type="password" name="oldPass" #oldPass="ngModel" [(ngModel)]="editedPass.oldPass" required class="form-control" placeholder="كلمة السر الحالية">
              </div>
              <!-- validation  message -->
              <div *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched || changepass.submitted)">
                <div *ngIf="oldPass.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="newPass" #newPass="ngModel" [(ngModel)]="editedPass.newPass" required class="form-control" placeholder="كلمة السر الجديدة">
              </div>
              <!-- validation  message -->
              <div *ngIf="newPass.invalid && (newPass.dirty || changepass.submitted)">
                <div *ngIf="newPass.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="newPass2" #newPass2="ngModel" [(ngModel)]="editedPass.newPass2" required class="form-control"
                  placeholder="تأكيد كلمة السر">
              </div>
              <!-- validation  message -->
              <div *ngIf="newPass2.invalid && (newPass2.dirty || newPass2.touched || changepass.submitted)">
                <div *ngIf="newPass2.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>
              <div *ngIf="newPass2.touched && newPass2.value != newPass.value" class="text-danger">
                * كلمة السر غير متطابقة
              </div>

              <button type="submit" class="btn small-btn mt-3">تغيير</button>
              <button type="button" class="btn small-btn mr-4 mt-3" (click)="c('Close click')">إلغاء</button>
            </form>
          </div>
        </ng-template>

      </div>
    </div>
    <!-- ================ address section ================== -->
    <div class="cooker-address">

      <div class="headline mb-5">
        <h2 class="text-center">بيانات التواصل</h2>
        <hr class="mb-5">
        <div class="text-left">
          <i class="icon-pencil"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="headline">
            <h5 class="mb-3">العنوان:</h5>
          </div>
          <p>
            <!-- {{chefData.district}},{{chefData.building no}},{{chefData.street no}},{{chefData.floorno}},شقة{{chefData.flatno}} -->
          </p>
          <!-- ملاحظات -->
          <p>{{chefData.notice}}</p>
          <!-- <i class="icon-plus"></i> -->
        </div>
        <div class="col-md-6">
          <h5 class="mb-3">الايميل و رقم التليفون:</h5>
          <p class="mb-3"> {{chefData.email}}</p>
          <p class="mb-3"> {{chefData.number}}{{chefData.number}}</p>
          <i class="icon-plus"></i>
        </div>
      </div>
    </div>

    <!-- ================ other info section ================== -->
    <div class="cooker-address">
      <div class="headline mb-5">
        <h2 class="text-center">ساعات العمل</h2>
        <hr class="mb-5">
        <div class="text-left">
          <i class="icon-pencil"></i>
        </div>
        <h5>أيام العمل</h5>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <form>
            <div class="form-group ml-3">
              <select class="form-control">
                <option selected>السبت</option>
                <option>الأحد</option>
                <option>الأثنين</option>
                <option>الثلاثاء</option>
                <option>الأربعاء</option>
                <option>الخميس</option>
                <option>الجمعة</option>
              </select>
            </div>
          </form>
        </div>

        <p class="mt-3">من</p>
        <div class="col-md-3 time">
          <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
          <button class="btn btn-sm btn-outline time-picker" (click)="toggleMeridian()">
          </button>
        </div>
        <p class="mt-3">إلي</p>
        <div class="col-md-3 time">

          <ngb-timepicker [(ngModel)]="time2" [meridian]="meridian"></ngb-timepicker>
          <button class="btn btn-sm btn-outline time-picker" (click)="toggleMeridian()">
          </button>
        </div>

        <i class="icon-cancel bg-transparent text-dark"></i>

      </div>

      <!-- <button class="small-btn pt-1 pb-1 mt-5">+</button> -->
      <i class="icon-plus"></i>
    </div>


  </div>
</section>