@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
.data{
        .cooker-img{
            border: 5px solid $mainColor;
        }
        .cooker-data{
            position: relative;
            display: flex;
            align-items: center;       
            .cooker-info{
                position: absolute;
                width: 100%;
                padding: 50px 10px ;
                border-radius: 0;
                box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25);
            }
            .cooker-editInfo{
                position: absolute;
                width: 100%;
                padding: 50px 10px ;
                border-radius: 0;
                box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25);
                input{
                    display: inline-block;
                    width: 45%;
                    margin-left: 10px;
                }
                textarea{
                    display: block;
                    margin-left: 10px;                    
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid $textColor;
                    border-radius: 0;
                    &:focus{
                        box-shadow: none;
                        border-color: $sconedColor;
                    }
                }
                .mail{
                    width: 85%;                    
                }
                .phone{
                    display: inline-block;
                    border: 0;
                    border-bottom: 1px solid $textColor;
                    border-radius: 0;
                    width: 65px;
                    &:focus{
                        box-shadow: none;
                        border-color: $sconedColor;
                    }
                }
                
            }
        }
            .cooker-address{
                padding-top: $section-space;
                h5
                {
                    font-family: $headlinesFonts;
                    @include font-size(18px);   
                }
                select, .time-picker{
                    border: 0;
                    border-bottom: 1px solid $textColor;
                    border-radius: 0;
                    &:focus{
                        box-shadow: none;
                        border-color: $sconedColor;
                    }
                }
                // select:focus > option:hover{
                //     background-color: red !important;
                // }   
            }
        
        
    }
