@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
@import '../../scss/profile';
.data{
        .cooker-address{
            padding-top: $section-space;
            h5
            {
                font-family: $headlinesFonts;
                @include font-size(18px);   
            }
            select{
                border: 0;
                border-bottom: 1px solid $textColor;
                border-radius: 0;
                &:focus{
                    @include boxShadow(none);
                    border-color: $sconedColor;
                }
                &:active{
                    @include boxShadow(none);
                    border-color: $sconedColor;
                }
            }
        }
    }
    .modal-body{
        padding-left: 45px;
        padding-right: 45px;        
        .form-control{
            border: 0;
            border-bottom: 1px solid $textColor;
            border-radius: 0;
            &:focus{
                @include boxShadow(none);
                border-color: $sconedColor;
            }
        }
    }
    // ============== bootstrap style override =============
    :host /deep/ .btn-link,
    :host /deep/ .btn-outline{
        display: none;
    }
    :host /deep/ input.form-control{
        border: 0;
        border-bottom: 1px solid $textColor;
        border-radius: 0;    
        width: 65px;
        &:focus{
            @include boxShadow(none);
            border-color: $sconedColor;
        }
    }
    :host /deep/ .btn-outline-primary{
        color: $textColor;
        border-color: $textColor;
        &:focus{
            @include boxShadow(none);
            outline: 0;
        }
        &:hover{
            background-color: $mainColor;
            color: #fff;
            border: 1px solid $mainColor;            
        }
    }
    :host /deep/ .btn-outline-primary:not(:disabled):not(.disabled):active{
        background-color: $mainColor;
        color: #fff;
        border: 1px solid $mainColor;
        @include boxShadow(none);
    }