<section>
  <!-- ==========Navbar========== -->
  <app-menu-page-header></app-menu-page-header>

  <div class="container singleMeal">
    <div class="row">
      <!-- ============= single product ============== -->
      <div class="col-md-8">
        <div class="card mb-3">
          <img class="card-img-top" src="../assets/images/single-page/{{singleData.image}}" alt="Card image cap">

          <div class="card-body pr-0">
            <!-- Start fav meal icon -->
            <div class="btn-group btn-group-toggle rounded-circle p-1 fav">
              <label class="btn-primary custom" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="singleData.fav">
                <div *ngIf="!singleData.fav">
                  <img class="" src="../../assets/images/not-fav.png" alt="">
                </div>
                <div *ngIf="singleData.fav">
                  <img class="" src="../../assets/images/fav.png" alt="">
                </div>
              </label>
            </div>
            <!--end fav meal icon -->

            <div class="d-flex justify-content-between headline">
              <h2 class="card-title mb-4">{{singleData.name}}</h2>
              <h2 class="pl-5">{{singleData.price}} ج</h2>
              <!--Start meal rating  -->
              <ngb-rating [(rate)]="singleData.rate" max=5 [readonly]="true">
                <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <!--end meal rating -->
            </div>
            <p class="mb-4">{{singleData.description}}</p>
            <div class="d-flex justify-content-between pl-5">
              <p class="card-title">الشيف : {{singleData.chef_name}}</p>
              <p>عدد مرات الطلب: {{singleData.numbers_of_orders}}</p>
            </div>
            <button class="small-btn" (click)="addToCart()">اطلب</button>

          </div>

        </div>
      </div>

      <!-- =========== cart component =============== -->
      <div class="col-md-4">
        <app-cart #cart></app-cart>
      </div>
    </div>
  </div>
  <div class="container mealCmnts">
    <!-- ================= comments component ================ -->
    <app-meal-comment [data]="singleData.meal_id"></app-meal-comment>
  </div>
</section>