<section>
  <!-- ==========Navbar========== -->
  <div class="nav pt-4 pb-3 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-7">
          <a routerLink="">
            <img src="../assets/images/logo.png" alt="">
          </a>
        </div>
        <div class="col-md-3">
          <a routerLink="../../login" class="border p-2">تسجيل الدخول</a>
          <a routerLink="../../becomeacooker" class="headlinesFonts pr-3">اصبح طباخ</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container singleMeal">
    <div class="row">
      <!-- ============= single product ============== -->
      <div class="col-md-8">
        <div class="card mb-3">
          <img class="card-img-top" src="{{singleData.singleImg}}" alt="Card image cap">

          <div class="card-body pr-0">
            <!-- ============== favourite ================ -->
            <img class="fav rounded-circle p-3" *ngIf="singleData.favorite=='false'; else elseCase" [(ngModel)]="singleData.favorite"
              src="../../assets/images/not-fav.png" alt="">
            <ng-template #elseCase>
              <img class="fav rounded-circle p-3" src="../../assets/images/fav.png" alt="">
            </ng-template>

            <div class="d-flex justify-content-between headline">
              <h2 class="card-title mb-4">{{singleData.mealTitel}}</h2>
              <h2 class="pl-5">{{singleData.mealPrice}} ج</h2>
              <!-- =========== rating ========== -->
              <!-- https://npm.runkit.com/ngx-rating -->
              <rating [(ngModel)]="singleData.mealRate" [readonly]="true" [float]="true" fullIcon="◆" emptyIcon="◇">
                {{singleData.mealRate}}
              </rating>
            </div>
            <p class="mb-4">{{singleData.mealDescription}}</p>
            <div class="d-flex justify-content-between pl-5">
              <p class="card-title">الشيف : {{singleData.cookerName}}</p>
              <p>عدد مرات الطلب: {{singleData.orders}}</p>
            </div>
            <button class="small-btn">اطلب</button>

          </div>

        </div>
      </div>

      <!-- =========== cart component =============== -->
      <div class="col-md-4">
        <app-cart></app-cart>
      </div>
    </div>

    <!-- ================= comments component ================ -->
  </div>
</section>