<section>
  <div class="container">
    <div class="row">
      <!-- ============= single product ============== -->
      <div class="col-md-8">
        <div class="card mb-3">
          <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">

          <div class="card-body">
            <div class="d-flex justify-content-between headline">
              <h2 class="card-title">اصابع الدجاج المقلية</h2>
              <h2>45 ج</h2>
            </div>
            <!-- =========== rating ========== -->
            <div>
              <h4></h4>
            </div>
            <p>أصابع الدجاج المقلية مع صوص البافلو مقدمة مع صوص الرانش و السلطة الفرنسية والليمون الطازج و تقدم مع الأرز البستمي
              و الخضار السوتيه والبطاطس المقلية والعيش البوري المميز.</p>
            <div class="d-flex justify-content-between">
              <p class="card-title">الشيف : محسن حسين</p>
              <p>عدد مرات الطلب: 25</p>
            </div>
            <button class="small-btn">اطلب</button>

          </div>

        </div>
      </div>

      <!-- =========== cart component =============== -->
      <div class="col-md-4">

      </div>
    </div>

    <!-- ================= comments component ================ -->
  </div>
</section>