<app-menu-page-header ></app-menu-page-header>
<section>
  <div class="container" >
      <div class="row"> 
          <div class="col-sm-12">
              
  <div class="container tabs">
        <ngb-tabset type="pills" class="mb-5">
    
          <ngb-tab>
            <ng-template ngbTabTitle>
              الكل
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row" > 
                    <div class="col-sm-8" *ngFor="let meal of meals">
                        mjmm

                    </div>
                 <!--   <div class="col-sm-4 mt-5 ">
                   <app-cart></app-cart>
                 </div> -->

                </div>
              
            </ng-template>
          </ngb-tab>
    
          <ngb-tab>
            <ng-template ngbTabTitle>
            مكرونة
            </ng-template>
            <ng-template ngbTabContent>
             
            </ng-template>
          </ngb-tab>
    
          <ngb-tab>
            <ng-template ngbTabTitle>
           لحوم
            </ng-template>
            <ng-template ngbTabContent>
            </ng-template>
          </ngb-tab>
    
          <ngb-tab>
            <ng-template ngbTabTitle>
            فراخ
            </ng-template>
            <ng-template ngbTabContent>
            
            </ng-template>
          </ngb-tab>
    
          <ngb-tab>
            <ng-template ngbTabTitle>
             سلطات
            </ng-template>
            <ng-template ngbTabContent>
          
            </ng-template>
          </ngb-tab>
          <ngb-tab>
                <ng-template ngbTabTitle>
              شوربات
                </ng-template>
                <ng-template ngbTabContent>
              
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                    <ng-template ngbTabTitle>
                  شعبي
                    </ng-template>
                    <ng-template ngbTabContent>
                  
                    </ng-template>
                  </ngb-tab>
        
    
        </ngb-tabset>
    
    
      </div>

          </div>

      </div>
   
   

  </div>
</section>
