@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
@import 'ngx-cropper/dist/ngx-cropper.min.css';

#newMeal
{
    padding-bottom: $section-space;
    .patern
    {
        @include backgroundImg('../../assets/images/patern.jpg');
        height: 100vh;
    }
    .headline
    {
        padding-top: $section-space;
    }
    form{
        width: 65%;
        margin: 0 auto;
        padding: 50px;
    }
    input,select,textarea{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-color: $textColor;
        background: transparent;
        &:focus{
            box-shadow: none;
            border-color: $sconedColor;
        }
    }






}



.img-ul-file-upload
{
    background: #000 !important;
}

