<section class="data">
  <div class="container">
    <div class="profile-data" *ngIf="userData">
      <img class="profile-img m-0" src="../assets/images/edit-cooker/chef_pp.jpg" alt="">

      <!-- ================= show view ================== -->
      <div class="profile-info" *ngIf="!editFlag">
        <div class="text-left">
          <button type="button" class="bg-transparent p-0">
            <i class="icon-pencil" (click)="editInfo()"></i>
          </button>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-4">
            <h3 class="mb-3 headlinesFonts">{{userData.fname}} {{userData.lname}}</h3>
            <h5 class="mb-3">{{userData.gender}}</h5>
            <h5 class="mb-3">{{userData.email}}</h5>
          </div>
          <div class="col-md-4 textFont">
            <div *ngFor="let tele of userData.telephones">
              <p class="mb-3"> {{tele.provider_id.prefix}}{{tele.number}}</p>
            </div>
            <div *ngFor="let address of userData.addresses">
              <p>
                {{address.district}},{{address.buildingno}},{{address.streetno}},الدور{{address.floorno}},شقة{{address.flatno}}
              </p>
              <!-- ملاحظات -->
              <p>{{address.notice}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- =============== edit view ======================= -->
      <div class="profile-editInfo" *ngIf="editFlag">
        <form name="editForm" #editForm="ngForm" (ngSubmit)="editFunc(editForm)">
          <div class="text-left">
            <button type="submit" class="bg-transparent p-0">
              <i class="icon-ok"></i>
            </button>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-4">
              <!-- ============= first name ================== -->
              <div class="form-group mb-3">
                <input type="text" class="form-control" value="{{userData.fname}}" placeholder="الأسم الأول" #fname="ngModel" name="fname"
                  [(ngModel)]="userData.fname" required>
                <!-- validation  message -->
                <div *ngIf="fname.invalid && (fname.dirty || fname.touched || editForm.submitted)">
                  <div *ngIf="fname.errors.required" class="error-msg">
                    الحقل مطلوب
                  </div>
                </div>
                <!-- =============== last name ==================== -->
                <input type="text" class="form-control" value="{{userData.lname}}" placeholder="الأسم الأخير" #lname="ngModel" name="lname"
                  [(ngModel)]="userData.lname">
              </div>
              <div *ngIf="lname.invalid && (lname.dirty || lname.touched || editForm.submitted)">
                <div *ngIf="lname.errors.required" class="error-msg">
                  الحقل مطلوب
                </div>
              </div>

              <!-- ============ email ================= -->
              <div class="form-group mb-3">
                <input type="email" class="form-control mail" value="{{userData.email}}" placeholder="البريد الألكتروني" name="email" [(ngModel)]="userData.email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" required>
              </div>
              <!-- validation Email message -->
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="error-msg" *ngIf="email.errors.required">
                  * هذا الحقل مطلوب
                </div>
              </div>
              <div class="error-msg" *ngIf="email.errors && editForm.submitted && !email.errors.required">
                * البريد الالكترونى غير صحيح
              </div>

              <!-- ============== gender ==================== -->
              <div class="form-group mb-3">
                <span class="pl-2">النوع</span>
                <div class="radio d-inline-block">
                  <input id="radio-1" name="gender" value="male" type="radio" [(ngModel)]="userData.gender">
                  <label for="radio-1" class="radio-label">ذكر</label>
                </div>

                <div class="radio d-inline-block">
                  <input id="radio-2" name="gender" value="female" type="radio" [(ngModel)]="userData.gender">
                  <label for="radio-2" class="radio-label ml-3">أنثى</label>
                </div>
              </div>
            </div>

            <div class="col-md-4">

              <!-- ============ phone ================= -->
              <div class="form-group mb-3" *ngFor="let tele of userData.telephones">
                <input type="text" class="form-control" value="{{tele.number}}" placeholder="رقم التليفون" pattern="[0-9]{8}" name="phone"
                  #phone="ngModel" [(ngModel)]="tele.number">
                <!-- validation  message -->
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched || editForm.submitted)">
                  <div *ngIf="phone.errors.required" class="text-danger">
                    * هذا الحقل مطلوب
                  </div>
                </div>
                <div class="text-danger" *ngIf="phone.errors && editForm.submitted && !phone.errors.required">
                  * رقم التليفون غير صحيح
                </div>

                <select class="form-control phone" name="phonePrefix" [(ngModel)]="tele.provider_id.prefix">
                  <option [selected]="tele.provider_id.prefix == '012'">012</option>

                  <option [selected]="tele.provider_id.prefix == '010'">010</option>

                  <option [selected]="tele.provider_id.prefix == '011'">011</option>

                  <option [selected]="tele.provider_id.prefix == '015'">015</option>

                  <option [selected]="tele.provider_id.prefix == '03'">03</option>

                </select>
              </div>

              <!-- ================ change password ================= -->
              <a class="text-dark changePass font-weight-bold mb-3" (click)="open(content)">تغيير كلمة السر</a>

            </div>
          </div>
        </form>
        <!-- ==================== popup change password ======================= -->
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">تغيير كلمة السر</h4>
            <button type="button" class="close ml-0" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form name="changepass" #changepass="ngForm">
              <!-- password -->
              <div class="form-group">
                <input type="password" name="old_password" #old_password="ngModel" [(ngModel)]="editedPass.old_password" required class="form-control"
                  placeholder="كلمة السر الحالية">
              </div>
              <!-- validation  message -->
              <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched || changepass.submitted)">
                <div *ngIf="old_password.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="password" #password="ngModel" [(ngModel)]="editedPass.password" required class="form-control"
                  placeholder="كلمة السر الجديدة">
              </div>
              <!-- validation  message -->
              <div *ngIf="password.invalid && (password.dirty || changepass.submitted)">
                <div *ngIf="password.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>

              <div class="form-group">
                <input type="password" name="password2" #password2="ngModel" [(ngModel)]="editedPass.password2" required class="form-control"
                  placeholder="تأكيد كلمة السر">
              </div>
              <!-- validation  message -->
              <div *ngIf="password2.invalid && (password2.dirty || password2.touched || changepass.submitted)">
                <div *ngIf="password2.errors.required" class="text-danger">
                  * هذا الحقل مطلوب
                </div>
              </div>
              <div *ngIf="password2.touched && password2.value != password.value" class="text-danger">
                * كلمة السر غير متطابقة
              </div>

              <button type="button" class="btn small-btn mr-4 mt-3" (click)="saveChanges()" (click)="c('Close click')">تغيير</button>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>