<div class="container">
  <div class="row justify-content-center ">
    <div class=" col-sm-8 home-menu">
      <div class="row no-gutters">
        <div class="col-sm-9">
          <div class="btn-group w-100 btn-group-justified">
            <div class="btn-group w-100" ngbDropdown role="group" aria-label="Button group with nested dropdown">

              <button class="btn search text-righ" ngbDropdownToggle (click)="getAreas()">{{ selected }}</button>


              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" *ngFor="let area of districts" (click)="showItem(area.name)">{{area.name}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <button class="btn big-btn menu w-100" (click)=" redirectToMenu()">المنيو</button>
        </div>
      </div>
    </div>
  </div>
</div>