<!-- ==========Navbar========== -->
<nav class="bg-dark pt-4 pb-2 text-white">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <a routerLink="">
          <img src="../assets/images/logo.png" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <div ngbDropdown placement="bottom-right" class="navdrop d-inline-block pl-3">
          <button class="btn bg-transparent" id="dropdownBasic1" ngbDropdownToggle>
            <i class="icon-down-open pl-2"></i>{{userData.fname}} {{userData.lname}}
          </button>
          <div class="p-0 rounded-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">الصفحة الشخصية</button>
            <button class="dropdown-item">تسجيل الخروج</button>
          </div>
        </div>
        <a href="#" class="text-white p-2">اصبح طباخ</a>
      </div>

    </div>
  </div>
</nav>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="headline text-center">
        <h2>الشروط والاحكام</h2>
        <hr class="mb-5">
      </div>

      <div class="content">
        مبادئ الاستخدام للمستخدمين والطهاة توضح هذه الصفحة مبادئ وشروط الاستخدام (سيشار لها بكلمة "الشروط" فيما بعد) والتي بموجبها
        يمكنك أنت باعتبارك مستخدم أو طاهٍ استخدام مواقع ويكا ذات المسئولية المحدودة WWW.WEEKA.COM وتطبيق ويكا (سيشار
        لكليهما بكلمة "التطبيق" فيما بعد). هذه الشروط تسمح لك كمستخدم أو كطاهٍ برؤية وطلب ومشاركة الوجبات والأطعمة عبر منصة
        ويكا الخدمية (سيشار إليها بكلمة "منصة" فيما بعد). رجاء قراءة الشروط بعناية قبل استخدام المنصة أو الخدمات المتوفرة
        على التطبيق. باستخدامك التطبيق، أنت توافق على الالتزام القانوني بالشروط الموضحة سواء كنت مستخدما مسجلا بالموقع أو
        لا. هذه الشروط تنظم اتاحة التطبيق لك كما تنظم استخدامك له وتمثل اتفاقا قانونيا ملزما بينك وبين ويكا. هذه الشروط
        قابلة للتغيير من وقت لآخر وبناء عليه فإنك مدعو للرجوع إليها قبل التسجيل على التطبيق. يضم القسم (1) أحكاما عامة تنطبق
<br>
        على كافة مستخدمي التطبيق. اذا كنت تستخدم التطبيق كطاهي، ستنطبق عليك أحكام القسمين (1) و(2). القسم (1): أحطام عامة
        <br>
        – المستخدمين التطبيق 1.1 يحق لويكا وفقا لتقديرها الخاص وقف التطبيق لأسباب تشمل إصلاحات أو صيانة مخطط لها أو تحديثات
        أو غيرها ولا تدين لك بأي خسائر أو تعويضات ناجمة عن أي توقف للتطبيق أو عدم اتاحته للاستخدام أو منعك من استخدام المنصة
        أو استخدام أي خدمات متوفرة على التطبيق. <br>1.2 تحتفظ ويكا بالحق في اجراء أي تغييرات على التطبيق تشمل أي خصائص وظيفية
        ومحتوى موجود أو عدم الاستمرار في أي شكل كما كان بدون تنبيهك. <br>1.3 تعتمد ويكا على مقدمي خدمات يمثلون طرفا ثالثا (مثل
        مقدمي خدمات الشبكات ومراكز البيانات ومقدمي خدمات الاتصالات) لعمل التطبيق ومحتواه والخدمات المتاحة لك. وبينما تتخذ
        ويكا كل الخطوات المنطقية المتاحة لإمدادك بمستوى جيد من الخدمة، فأنت تقر وتوافق على أن ويكا لا يمكنها أن تضمن
        أن يعمل التطبيق بلا انقطاع أو بدون أخطاء طوال الوقت. وعليه، فإن ويكا لن تكون مسئولة بأي شكل عن أي خسائر قد تتعرض
        لها نتيجة لتأخير أو فشل في الخدمات والتطبيق تسبب فيه مقدمي الخدمات لويكا. التسجيل <br>2.1 من أجل استخدام التطبيق، سيتعين
        عليك اكمال استمارة التسجيل وانشاء حساب. <br>2.2 بتسجيل بياناتك لدى ويكا كمستخدم، أنت توافق وتقر بالتالي: <br>2.2.2 أنك
        أهل قانونيا للدخول في تعاقدات. <br>2.2.3 أن عمرك 18 عاما على الأقل. <br>2.2.4 أن القانون المعمول به وينطبق عليك في مكانك
        لا يمنعك من الدخول في تعاقد توافق بموجبه على شروط الاستخدام الموضحة هنا من حيث استخدام الخدمات وشراء الأطعمة. <br>2.3
        بتسجيل بياناتك وانشاء حسابك، توافق على اجراءات التحقق والأمان التي تقوم بها ويكا في سياق المعلومات التي أمددتنا
        بها أونلاين. <br>2.4 أنك تضمن صحة ودقة المعلومات التي ذكرتها لويكا وأنك ستخبرنا حال حدوث أي تغيير. <br>2.5 بالاشتراك وتسجيل
        الحساب، أنت توافق على مبادئ الاستخدام وسياسة الخصوصية. <br>2.6 أنك ستحافظ على سرية بيانات التسجيل الخاصة بك وستبقيها
        في مأمن، وأن ويكا تحتفظ بحقها في وقف حسابك فورا أو عدم اتاحة التطبيق لك من دون المساس بأي حقوق أخرى متاحة لنا،
        وذلك في حال توافر أسباب لويكا تشير لانتهاكك أي أحكام مذكورة هنا. <br>2.7 ورغم ما سبق، فإن ويكا لديها الحق في: <br>2.7.1
        الموافقة على تسجيلك أو رفضه لأي سبب و <br>2.7.2 وقف حسابك و/أو رفض اتاحة الخدمات لك و/أو التطبيق (كليا أو جزئيا) اذا
        ما انتهكت أي أحكام أدناه. 2.8 بعد تسجيلك كمستخدم، وبالأخذ في الاعتبار خضوعك لهذه الشروط والمبادئ، ستوفر لك ويكا
        خدمات خاصة بالمستخدم. أنت مستخدم اذا قمت بعمل طلبات عبر المنصة. <br>2.9 خدمات المستخدم تشمل الآتي: <br>2.9.1 امكانية انشاء
        صفحة بروفايل <br>2.9.2 امكانية البحث عن طهاة مسجلين على التطبيق ولديهم وجبات متاحة للطلب؛ <br>2.9.3 امكانية التواصل مع مستخدمين
        آخرين ومع طهاة باستخدام التطبيق؛ <br>2.9.4 امكانية كتابة رأيك في الطاهي وتقييمه؛ <br>2.9.5 الوصول لخصائص ومزايا أخرى ضمن
        خدمات المستخدم توفرها ويكا لمستخدميها من وقت آخر. <br>3. الطلبات <br>3.1 أنت تقر وتوافق أن جميع الطلبات تخضع للموافقة من
        قبل الطهاة. إن عقد تحقيق الطلب هو بينك وبين الطاهي وسيتشكل فقط بعد حصولك على موافقة الطاهي. ويكا ليست مسئولة عن
        أداء أي طرف في هذا العقد كما أنها لا تضمن أن كل طرف في هذا العقد سيوفي بالتزاماته. <br>3.2 المستخدم يقر ويوافق على أن
        جميع الوجبات المباعة عبر التطبيق هي أطعمة هالكة بمعنى أن الطهاة قد لا يسمحون بالغاء الطلبات أو رد المال. التزامات
        المستخدم 4.1 أنت توافق أنك المسئول الوحيد الملتزم بأي نشاط يجري عن طريق استخدامك للتطبيق. <br>4.2 لن تقوم بإضافة أي معلومات
        أو آراء أو تعليقات أو صور أو روابط لمواقع خارجية (طرف ثالث) أو أي مادة بأي شكل تتعلق بمستخدم آخر أو بأحد الطهاة لكي
        تظهر على التطبيق سواء داخل بروفايلك الشخصي أو عندما تقوم بتقييم أو ادخال رأيك عبر استخدامك لخدمات المستخدم يمكن اعتبارها
        من قبل ويكا أنها تحمل توجها عدائيا أو أنها غير مناسبة أو تستوجب المساءلة القانونية. <br>4.2.1 لن تقوم بنشر أي شئ يحمل
        توجهات عنصرية أو تعصب أعمى أو كراهية أو أذى جسدي لأي مجموعة أو فرد؛ 4.2.2 لن تقوم بالتحرش أو الدعوة للتحرش بشخص آخر؛
        <br>4.2.3 لن تنشر أي مواد جنسية؛ <br>4.2.4 لن يكون لك توجه بذئ أو فاحش أو تشهيري أو افتراءي أو تهديدات للآخرين؛ <br>4.2.5 لن
        تقوم بأي نشاط يحظره القانون؛ <br>4.2.6 ستمدنا بمعلومات ارشادية عن أي أنشطة غير مشروعة تشمل انتهاك خصوصية شخص آخر أو خلق
        ونشر فيروسات الكمبيوتر؛ <br>4.2.7 لن تقوم بنشر أي معلومات تعلم أو تعتقد أنها غير دقيقة أو خاطئة أو مضللة؛ <br>4.2.8 لن تشترك
        أو تنشر أي أنشطة تجارية أو/و مبيعات مثل مسابقات أو اعلانات أو مقايضة أو اليانصيب أو المخططات الهرمية من دون موافقة
        كتابية مسبوقة من ويكا؛ <br>4.2.9 لن تنتهك أي حقوق لأي طرف ثالث 4.3 أنت تقر بأن أي مادة أو محتوى ستشارك به كمستخدم لن
        يعني بالضرورة أنه سيظهر كليا أو جزء منه على التطبيق سواء كانت المادة المرسلة جزءا من خدمات المستخدم أو لا. أنت توافق
        على أن ويكا، وفقا لتقديرها الخاص، قد تختار عرض المشاركات وإظهارها على التطبيق أو حذفها بشكل كامل أو جزئي وأنت توافق
        على منح ويكا رخصة دولية دائمة لا رجعة فيها وغير حصرية للقيام بذلك. <br>4.4 أنت تضمن تمثيل امتلاك أو لديك رخصة لاستخدام
        أي براءة اختراع وعلامة تجارية (سواء للتسجيل أو لغير التسجيل) والتصاميم والحقوق في قاعدة البيانات والحقوق في مجال
        البرمجيات (بما في ذلك على سبيل المثال لا الحصر مصدر البرمجة والموضوع) وحقوق المؤلف وجميع حقوق الملكية ("حقوق الملكية
        الفكرية ") في جميع مشاركاتك كمستخدم تدخلها إلى التطبيق كجزء من استخدامك للخدمات. <br>4.5 بموجب هذا الاتفاق أنت تمنج ويكا
        رخصة دائمة غير حصرية لا رجعة فيها في جميع أنحاء العالم لعرض مشاركاتك للنشر متاحة لمستخدمين آخرين للتطبيق. <br>4.6 أنت
        توافق أنك في جميع الأوقات ستقوم بالتالي: <br>4.6.1 عدم استخدام بياناتك للدخول كمستخدم على ويكا بنية انتحال صفة شخص
        آخر؛ 4.6.2 عدم السماح لشخص آخر باستخدام بيانات دخولك كمستخدم <br>4.6.3 لن تستخدم المعلومات المتاحة على التطبيق أو التي
        تمدك بها ويكا لأي أغراض تجارية؛ 4.6.4 لن تقوم بفعل شئ من شأنه أن يضعف أو يتداخل أو يضر أو يسبب أذى أو محنة لأي
        شخص يستخدم التطبيق أو في اطار الشبكة؛ <br>4.6.5 لن تنتهك أي حقوق لأي طرف ثالث <br>4.6.6 الاتصال بويكا على الفور من خلال
        info@weeka.com اذا وجدت أي مادة منشورة من قبل مستخدم آخر تخالف الشروط الموضحة أدناه؛ <br>4.6.7 الالتزام بكافة التعليمات
        والسياسات التي تضعها ويكا من وقت لآخر فيما يخص استخدام المنصة، الخدمات والتطبيق؛ <br>4.6.8 التعاون مع أي مراجعة أمنية
        أو طلبات منطقية طلبا للمعلومات من قبل ويكا من وقت آخر؛ <br>4.6.9 أن تستخدم المعلومات المتاحة لك على التطبيق وعبر الخدمات
        على مسئوليتك الخاصة. <br>4.7 في حالة حدوث نزاع مع مستخدم آخر للتطبيق، ستعفي ويكا من أي ادعاءات أو طلبات أو أضرار سواء
        كانت فعلية أو مترابطة من أي نوع والطبيعة المعروفة وغير المعروفة الناشئة عن أو متصلة بهذا النزاع. 4.8 يجب عليك في
        كل الأوقات أن تستخدم الخدمات المتاحة للمستخدم والتطبيق في السياق المذكور هنا من شروط. وبشكل خاص، يجب أن يخضع كل ما
        يتعلق بالمحتوى والمادة التي تقوم بتحميلها أو تلك التي تشكل جزءا من بروفايلك للقواعد المنظمة للمواد المنشورة من قبل
        <br>المستخدم والموضحة في القسم (1) من هذه الشروط. <br>4.9 كمستخدم، أنت مسئول عن ما يلي: <br>4.9.1 التأكد من هوية الطاهي؛ 4.9.2
        التحقق من سعر الوجبة التي توافق أن سعرها يخضع للتغيير من وقت لآخر وهو أمر يقرره الطاهي وفق تقديره فقط؛ <br>4.9.3 التأكد
        من أن لديك المعلومات الكافية ذات العلاقة بالأخطار الصحية وأخطار السلامة بما فيها التأكد من أن الطاهي مسجل بقسم الصحة
        البيئية المحلي التابع له أينما انطبق ذلك؛ 4.9.4 أي عرض أو تقييم للطهاة ستكتبه سيكون عادلا وصادقا ومنطقيا <br>4.9.5 التحقق
        من كل المعلومات التي قدمها الطاهي والمتعلقة بأي وجبات عرضها بما فيها المكونات <br>4.10 أثناء استخدام خدمات المستخدم،
        عليك الآتي: 4.10.1 عدم تقديم معلومات (من بينها تلك الموجودة في بروفايلك) أنت تعرف أنها غير دقيقة أو خاطئة أو منقوصة
        بما يعد سوء تمثيل للحقائق؛ <br>4.10.2 ابلاغ ويكا فورا لو كان لديك سببا ما جعلك تشتبه في أن الطاهي أو مستخدم آخر انتهك
        الشروط الموضحة في القسم (1) أو أن بروفايل أحد الطهاة ليس أصليا أو خاطئا أو غير دقيق أو غير كامل. <br>5. استثناء الضمانات
        ومسئولية ويكا المحدودة <br>5.1 أنت تقر وتوافق على أن التطبيق يشمل مشاهدات وآراء ونصائح وترشيحات وهي كلها لا تتمتع بتصديق
        ويكا وهي في اطار الحد الأقصى الذي يسمح به القانون ولا توفر ويكا أي ضمانات ولن تكون مسئولة قانونا بأي شكل عن دقة
        هذه المشاهدات والآراء والنصائح والترشيحات كما لن تكون مسئولة عن أي طبيعة تشويهية أو كمال هذه المعلومات أو توقيتاتها
        أو ملائمتها لأي شئ. 5.2 ويكا لا تحقق من أي مشاركة للمستخدمين وليس لديها أي سيطرة عليها أو أي معلومات أخرى أتيحت
        لك عبر استخدام المنصة، الخدمات و/أو التطبيق. وعلى هذا الأساس، لا تضمن ويكا دقة وصحة وملائمة مشاركات المستخدمين
        أو أي معلومات أخرى أتيحت لك عبر استخدامك للمنصة، الخدمات و/أو التطبيق. اذا كنت تنوي استخدم و/أو الاعتماد على مشاركات
        المستخدمين أو أي معلومات أخرى متاحة لك عبر استخدامك للمنصة، الخدمات و/أو التطبيق، فسيكون ذلك على مسئوليتك الشخصية.
        5.3 لن تكون ويكا مسئولة عن أي خسائر ناجمة عن فشل في الالتزام بهذه الشروط الواقعة ضمن التصنيفات التالية: <br>5.3.1 خسائر
        مترابطة أو غير مباشرة أو خاصة؛ 5.3.2 خسارة مكاسب أو دخل أو عائد مالي؛ <br>5.3.3 خسارة مدخراتك أو مدخراتك المتوقعة أو
        الفوائد أو الإنتاج؛ <br>5.3.4 خسارة التجارة أو المزايا التجارية؛ <br>5.3.5 خسارة العقود؛ <br>5.3.6 خسارة فرص أو توقعات؛ <br>5.3.7
        خسارة السمعة؛ 5.3.8 خسارة وقت التسويق و/أو العلاقات العامة و/أو الفرص؛ 5.3.9 خسارة البيانات؛ 5.3.10 خسارة الادارة
        أو وقت المكتب أو أي خسائر أخرى ناجمة عن التقصير (يشمل الإهمال)، انتهاك العقد أو لأي سبب آخر حتى وإن كان متوقعا. <br>5.4
        لا شئ في هذه الشروط يستثني أو يحد من مسئولية ويكا بالنسبة للآتي: <br>5.4.1 الاحتيال أو الادعاء الخادع؛ <br>5.4.2 أي أمر
        آخر يكون غير مشروع لويكا أن تستثني أو تحاول اخلاء مسئوليتها. <br>5.6 لا تشارك ويكا بأي شكل أو ستكون مسئولة بأي طريقة
        عن أي سبب أو دافع من وراء اتصالات أو معاملات أو لقاءات أو نصب يجري بينك وبين مستخدمين آخرين. ولهذا تنصحك ويكا بأخذ
        كافة الاحتياطات عند الاتصال وترتيب لقاءات وتجمعات مع مستخدمين آخرين بما فيها تلك المتعلقة بتوصيل الأطعمة أو غيرها.
        <br>6. استثناءات إضافية للضمانات المتعلقة بالطهاة وخدمات الطهي <br>6.1 أنت تقر وتوافق على أن جميع خدمات المستخدم التي توفرها
        ويكا هي محدودة بمنحك منتدى لمحاولة التواصل مع الهطهاة ومعرفة مصادرهم. باستخدامك لهذه الخدمات، لا تضمن ويكا التالي:
        <br>6.1.1 أنك ستجد الوجبات ملائمة لذوقك في الأطعمة أو لنظامك الغذائي أو أي متطلبات أخرى <br>6.1.2 لن يخضع مستوى أي طاهي كبيزنس
        أو تجارة لأي معايير وضعتها أي وكالة أو هيئة غذائية ضمن اختصاص المستخدم؛ 6.1.3 المقر الذي يستخدمه الطاهي لإعداد الأطعمة
        لن يكون بالضرورة ملائما ببطهي وإعداد الطعام أو مسجلا في قسم الصحة البيئية المحلي أينما انطبق ذلك؛ <br>6.1.4 أن تكون بروفايلات
        الطهاة أصلية؛ 6.1.5 أن أي معلومات أو توثيق متاح على بروفايل الطاهي (يشمل وليس قاصرا على أي وصفات أطعمة) هي أصلية
        وحقيقية ودقيقة وكاملة؛ 6.1.6 هوية الطاهي المستخدم للتطبيق؛ <br>6.1.7 ملائمة الوجبات للاستهلاك بمجرد الوصول للمستخدم أو
        أن الوجبات خالية من الأمراض المنقولة عن طريق الأغذية والفيروسات واصابات البكتيريا وغيرها. <br>6.2 كمستخدم، فإنك تضمن
        أنك ستشتري الوجبات لاستهلاكك الشخصي وأنك لن تشتري الأطعمة أو ستستخدم الخدمات لأغراض تجارية بما فيها بيع الوجبات للمستهلكين
        أو غيرها. 6.3 ويكا غير مسئولة بأي شكل عن جودة أو توصيل الطهاة للوجبات. هذه الأطعمة يوفرها الطهاة بناء على شروطهم
        التي يضعونها كما يتم الاتفاق عليها بينك كمسخدم وبين الطاهي. <br>6.4 في حالة حدوث نزاع بينك وبين أي طاهي، أو أن الوجبات
        التي وصلتك من الطاهي لا ترضيك أو لأي سبب آخر، فإنك توافق على أن ويكا غير مسئولة عن أي شئ (بما فيها أي خسائر أو
        أضرار أو اصابات شخصية أو حالات وفاة أو غيرها) عانيت منها أو واجهتها بسبب وصول هذه الوجبات إليك، وأنك تخلي ويكا
        من المسئولية عن أي معاناة تواجهها كنتيجة لهذا النزاع. <br>7. حقوق الملكية الفكرية 7.1 ويكا ومن منحها رخص يملكون كل
        حقوق الملكية الفكرية في التطبيق، الخدمات والمنصة. <br>7.2 يحظر عليك التالي: 7.2.1 إعادة إنتاج أو نسخ أو تحرير أو نقل
        أو تحميل أو دمج أي مادة ترد في التطبيق في مواد أخرى؛ <br>7.2.2 إزالة، تعديل، تغيير أو استخدام أي تصميمات أو لوجوهات مسجلة
        أو غير مسجلة خاصة بويكا أو من منحها رخص وعمل أي شئ من شأنه استخدام سمعة ويكا بشكل غير عادل أو قد يعد انتهاكا
        لأي حق من حقوق الملكية الفكرية التي تمتلكها ويكا أو حاصلة على رخصتها. <br>7.3 باعتبار أن ويكا غير مدركة لأي انتهاك
        لحقوق الملكية الفكرية لأي طرف ثالث في الوقت الذي تقدم فيه مشاركات كمستخدم، فإن ويكا لن تكون مسئولة بأي شكل أمامك
        أو أمام أي طرف ثالث عن أي انتهاك لهذه الحقوق بعد ذلك مما يتم ابلاغه إليك أو لويكا.
      </div>

    </div>
  </div>
</section>