@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/general';
@import '../../scss/tabs';

nav
{
    .btn:focus{
        @include boxShadow(none);
    }
    .dropdown-item{
        padding: 10px 15px;
        text-align: right;
        color: $headlinesColor;        
        &:hover{
            background-color: $mainColor;
            color: #fff;
        }
        &:focus{
        background-color: transparent;
        outline: none;
        }

    }
}

