<section class="allMeals">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 " *ngFor="let data of allMeals">
        <div class="media weekaCard w-100 mb-5 align-items-center">
          <img src="{{data.image}}" alt="Generic placeholder image">
          <div class="media-body position-relative text-center">
            <!--Start meal rating  -->
            <ngb-rating [(rate)]="data.mealRate" max=5 [readonly]="true">
              <ng-template let-fill="fill">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <!--end meal rating -->
            <h3 class="mt-0">{{data.mealTitel}}</h3>
            <p>{{data.mealDescription}}</p>
            <div class="price rounded-circle position-absolute">
              <h3> {{data.mealPrice}} ج </h3>
              <div class="price-bg rounded-circle position-absolute">
              </div>
            </div>

            <div class="media-footer">
              <div class="row">

                <div class="col-md-6">
                  <p>عدد مرات الطلب: {{data.orders}}</p>
                </div>

                <div class="col-md-6">
                  <div class="radios-list">
                    <label class="toggle d-inline-block">
                      <input #toggle (click)="toggleFunc()" type="checkbox" [checked]="data.isActive" />
                      <span class="toggle-slider"></span>
                    </label>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>