<section class="">
   <!-- ==========Navbar========== -->
   <div class="nav pt-4   text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-2 offset-md-7">
            <a routerLink="">
              <img src="../assets/images/logo.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a routerLink="/login" class="border p-2">تسجيل الدخول</a>
            <a routerLink="/becomeacooker" class="headlinesFonts pr-3">اصبح طباخ</a>
          </div>
        </div>
      </div>
    </div>

   <!-- ==========Search========== -->
   <div class="container  h-100  ">
     <div class="row h-75 align-items-center">
       <div class="col-sm-12">
          <app-home-menu ></app-home-menu>
       </div>
     </div>
   </div>
 
   
</section>