
@font-face {
    font-family: 'headlinesFont';
    src: url("../assets/font-faces/Asmaa-Font.ttf");
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'textFont';
    src: url("../assets/font-faces/Unique_Light.ttf");
    font-weight: normal;
	font-style: normal;
}

