//our main form style
.form-bg{
    height: 400px;
    position: absolute;
}
.form-content{
    position: relative;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    height:100vh;
    .main-form{
        background: $whiteColor;
        position: absolute;
        left: 60px;
        padding: 50px 35px;
        width: 420px;
        input,select{
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-color: $textColor;
            &:focus{
                box-shadow: none;
                border-color: $sconedColor;
            }
        }
    }
}

.radio {
    margin: 0.5rem;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          background: $whiteColor;
          border-radius: 100%;
          border: 1px solid darken($textColor, 25%);
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          position: relative;
          left: 1em;
          margin-right: 1em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background-color: $mainColor;
            box-shadow: inset 0 0 0 4px $whiteColor;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: $mainColor;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $mainColor;
            border-color: darken($mainColor, 25%);
            background: darken($mainColor, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }