body{
    direction: rtl;
    text-align: right;
    font-family: $textFonts;
}
// Headline
.headline
{
    h2
    {
    font-family: $headlinesFonts;
    @include font-size(40px);
}
    hr
    {
        width: 35px;
        border: 1px solid $mainColor;
    }
} 
// Meal Card general style
.weekaCard
{
    box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25);
    background: $whiteColor;
    color: $textColor;
    h3{
        @include font-size(30px);
        font-family: $headlinesFonts;
        color: $headlinesColor;
    }
    p
    {
        padding: 0 40px;
        position: relative;
        z-index: 1;
    }
    .price,.price-bg
    {
        background: $whiteColor;
        box-shadow:10px 10px 5px 120px 20px ; 
    }
    .price
    {
        width: 93px;
        height: 93px;
        right: -40px;
        top: 37px;
       h3{
        position: relative;
        z-index: 1;
        @include font-size(35px);
        top: 20px;
        }
    }
    .price-bg{
        width: 105px;
        height: 105px;
        right: -9px;
        top: -5px;
        opacity: 0.7;
    }
    .media-footer
    {
        @include font-size(12px);
        position: relative;
        top: 35px;
        p{
            padding: 0;
        }
    }
}

// buttons
.small-btn
{
    background: $mainColor;
    @include font-size(14px);
    min-width: 87px;
    min-height: 28px;
}
.big-btn{
    background: $mainColor;
    @include font-size(16px);
    min-width: 153px;
    min-height: 35px;
}
//input placeholder color
input::-webkit-input-placeholder
,input::-moz-input-placeholder
,input:-ms-input-placeholder{
    color: $textColor;
}

//ancors 
a{
    color: $whiteColor;
    text-decoration: none;
}

//fonts
.headlinesFonts{
    font-family: $headlinesFonts;
}
