body{
    direction: rtl;
    text-align: right;
    font-family: $textFonts;
}
// Headline
.headline
{
    h2
    {
        font-family: $headlinesFonts;
        @include font-size(40px);
    }
    hr
    {
        width: 35px;
        border: 1px solid $mainColor;
    }
} 
// Meal Card general style
.weekaCard
{
    box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25);
    background: $whiteColor;
    color: $textColor;
    h3{
        @include font-size(30px);
        font-family: $headlinesFonts;
        color: $headlinesColor;
    }
    p
    {
        padding: 0 40px;
        position: relative;
        z-index: 1;
    }
    .price,.price-bg
    {
        background: $whiteColor;
        box-shadow:10px 10px 5px 120px 20px ; 
    }
    .price
    {
        width: 93px;
        height: 93px;
        right: -40px;
        top: 37px;
       h3{
        position: relative;
        z-index: 1;
        @include font-size(35px);
        top: 20px;
        }
    }
    .price-bg{
        width: 105px;
        height: 105px;
        right: -9px;
        top: -5px;
        opacity: 0.7;
    }
    .media-footer
    {
        @include font-size(12px);
        position: relative;
        top: 35px;
        p{
            padding: 0;
        }
    }
}

// buttons
.small-btn
{
    background: $mainColor;
    @include font-size(14px);
    min-width: 87px;
    min-height: 28px;
    font-family: $headlinesFontBold; 
    border-radius: 0;       
}
.big-btn{
    background: $mainColor;
    @include font-size(16px);
    min-width: 153px;
    min-height: 35px;
    border-radius: 0;
    box-shadow: 0px 3px 10px 0px rgba(133, 133, 133, 0.25);
    font-family: $headlinesFontBold;    
}
.big-btn-w{
    @extend .big-btn;
    background: $whiteColor;
    color: $mainColor;
}
.big-btn-sconedColor{
    @extend .big-btn;
    background: $sconedColor;
    color: $headlinesColor;
}
button:focus{
    box-shadow: none;
    outline: 0;
}
//input placeholder color
input::-webkit-input-placeholder
,input::-moz-input-placeholder
,input:-ms-input-placeholder{
    color: $textColor;
}

//validation msg color
.error-msg{
    color: $mainColor;
}

//ancors 
a, a:hover{
    color: $whiteColor;
    text-decoration: none;
}

//fonts
.headlinesFonts{
    font-family: $headlinesFonts;
}
.textFont{
    font-family: $textFonts;
}
//navbar dropdown
.navdrop{
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown-menu{
        background-color: $sconedColor;
        color: $textColor;
    }  
} 



// Rating
ngb-rating{
    transform: rotate(-90deg);
    position: absolute;
    top: 30%;
    left: -5%;
    z-index: 2;
}
.star {
    font-size: 1.25rem;
    color: #949494;
    transform: rotate(90deg);
    display: inline-block;
  }
  .filled {
    color: #fed118;
  }

label.btn-primary
{
    background: transparent;
    border: none;   
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle
{
background: transparent;
border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus ,
.btn-primary:focus, .btn-primary.focus
{
    box-shadow: none;
}
i.star-icon{
font-size: 1.5em;
}

.fav
{
    position: absolute;
    right: 2%;
    top: -18%;
}
:focus
{
    outline: 0;
}
.img-ul-image
{
    background: center center no-repeat;
    background-size: contain;
    height: 300px !important;
    width: 100% !important;
    float: none !important;
}

.img-ul-file-upload
{
    background: #ddd !important;
    // height: 300px;
}

// .img-ul-upload
// {
//     width: 100%;
//     height: 100%;
// }