//Theam colors
$mainColor:#aa0114;
$sconedColor:#ead3a8;
$headlinesColor: #000000;
$textColor: #858585;
$whiteColor:white;

//Font Families
$headlinesFonts: 'headlinesFont';
$headlinesFontBold:'headlinesFontBold';
$textFonts: 'textFont';

//footer vars
$backgroundFooter: #1b1b1b;

//======= spacing vars =======
$section-space: 100px;