<div class="row">
    <div class="col-md-12 col-lg-6 lg-screen" *ngFor="let data of mealData; let i=index">
        <div class="media weekaCard w-100 mb-5 align-items-center">
            <a routerLink="/singleItem/{{data.slug}}">
                <img class="mealImg" src="../assets/images/single-page/{{data.image}}" alt="Generic placeholder image">
            </a>
            <div class="media-body position-relative text-center">
                <!-- Start fav meal icon -->
                <div class="btn-group btn-group-toggle fav">
                    <label class="btn-primary custom" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="data.fav">
                        <div *ngIf="!data.fav">
                            <img class="" src="../../assets/images/not-fav.png" alt="">
                        </div>
                        <div *ngIf="data.fav">
                            <img class="" src="../../assets/images/fav.png" alt="">
                        </div>
                    </label>
                </div>
                <!--end fav meal icon -->
                <!--Start meal rating  -->
                <ngb-rating [(rate)]="data.rate" max=5 [readonly]="true">
                    <ng-template let-fill="fill">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <!--end meal rating -->
                <h3 class="mt-0">{{data.name}}</h3>
                <p>{{data.description}}</p>
                <div class="price rounded-circle position-absolute">
                    <h3> {{data.price}} ج </h3>
                    <div class="price-bg rounded-circle position-absolute">
                    </div>
                </div>
                <a routerLink='/singleItem/{{(data.name)}}'>
                    <button class="small-btn">اطلب</button>
                </a>
                <div class="media-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <p>الشيف: {{data.chef_name}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>عدد مرات الطلب: {{data.numbers_of_orders}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <div class="col-md-12 col-lg-6 sm-screen" *ngFor="let data of mealData">
            <div class="card text-center mb-5">
                <img class="card-img-top" src="../../assets/images/single-page/{{data.image}}" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title">{{data.name}}</h4>
                <h5 class="card-price">{{data.price}}ج</h5>
                <p class="card-text">{{data.description}}</p>
                <a routerLink='/singleItem/{{(data.name)}}'><button class="small-btn">اطلب</button></a>
                </div>
            </div>
        </div>



   





    


    



</div>



